* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-color: #280003;
  color: #C2847A;
}

h1, header, footer {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 0%;
}

input {
	display: none;
}

.slider {
  flex-direction: row;
  overflow-x: hidden;
  max-width: 45vw;
}

.slider__img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 5%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel__item {
  cursor: pointer;
  height: 38px;
  width: 38px;
  background-color: #BAA898;
  border-radius: 50%;
  margin-right: 25px;
  border: 7px solid #280003;
}
.carousel__item:hover {
  background-color: #EEE0CB;
}

#img_1:checked ~ .slider__container .img_1 .img {
  margin-left: 0;
  opacity: 100%;
}
#img_2:checked ~ .slider__container .img_2 .img {
  margin-left: -200%;
  opacity: 100%;
}
#img_3:checked ~ .slider__container .img_3 .img {
  margin-left: -400%;
  opacity: 100%;
}
#img_4:checked ~ .slider__container .img_4 .img {
  margin-left: -600%;
  opacity: 100%;
}

#img_1:checked ~ .down .mem__wrapper .mem__container .mem_1 .text__content {
  margin-left: 0;
  opacity: 100%;
}
#img_2:checked ~ .down .mem__wrapper .mem__container .mem_2 .text__content {
  margin-left: -200%;
  opacity: 100%;
}
#img_3:checked ~ .down .mem__wrapper .mem__container .mem_3 .text__content {
  margin-left: -400%;
  opacity: 100%;
}
#img_4:checked ~ .down .mem__wrapper .mem__container .mem_4 .text__content {
  margin-left: -600%;
  opacity: 100%;
}

#img_1:checked ~ .down .carousel label[for="img_1"] {
  height: 25px;
  width: 25px;
  background-color: unset;
  border: 2px solid #BAA898;
  border-radius: 50%;
  margin-top: 7px;
}
#img_2:checked ~ .down .carousel label[for="img_2"] {
  height: 25px;
  width: 25px;
  background-color: unset;
  border: 2px solid #BAA898;
  border-radius: 50%;
  margin-top: 7px;
}
#img_3:checked ~ .down .carousel label[for="img_3"] {
  height: 25px;
  width: 25px;
  background-color: unset;
  border: 2px solid #BAA898;
  border-radius: 50%;
  margin-top: 7px;
}
#img_4:checked ~ .down .carousel label[for="img_4"] {
  height: 25px;
  width: 25px;
  background-color: unset;
  border: 2px solid #BAA898;
  border-radius: 50%;
  margin-top: 7px;
}

.slider__container {
  display: flex;
  width: 400%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  animation: none;
}

.down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  height: 20vw;
  margin-top: 3%;
  padding-top: 5%;
}

.mem__wrapper {
  overflow: hidden;
  width: 50%;
}

.mem__container {
  display: flex;
  width: 400%;
}

.mem {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  height: 100%;
}

.text__content {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  color: #C2847A;
}

@media (max-width: 990px) {
  .down {
    flex-direction: column-reverse;
    align-items: center;
    height: 15vw;
  }
  .text__content {
    font-size: 14px;
  }
  .carousel {
    margin-bottom: 2%;
    width: 50%;
    justify-content: space-around;
  }
  .carousel__item {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  body {
    justify-content: initial;
  }
  .wrapper {
    padding-top: 20%;
  }
  .slider {
    max-width: 80vw ;
  }
  .text__content {
    font-size: 14px;
  }
  .down {
    height: 30vw;
  }
  .mem__wrapper {
    width: 65%;
  }
}